.admin-panel {
  background-color: #1e1e1e;
  color: white;
  padding: 30px;
  border-radius: 10px;
  width: 550px;
  margin: 40px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
}

.admin-panel h1 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-candidate-list {
  margin-top: 10px;
  margin-bottom: 25px;
}

.admin-candidate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #444;
  margin-bottom: 12px;
}

.admin-input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-direction: column;
}

.admin-add-candidate input{
  margin-right: 5px;
}