.home-span{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.home-p{
    background-color: #1e1e1e;
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 550px;
    margin: 40px 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

span img {
  width: 300px;
  height: 100%;
  object-fit: contain;
  margin: 40px 10px;
}