.login-container {
  background-color: #1e1e1e;
  color: white;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  margin: 40px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form *{
    margin: 5px;
}

.login-container form button{
    margin-top: 30px;
}
