a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 25px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal
}


.navbar .navbar-right .nav-links {
    display: flex;
    gap: 40px;
    list-style-type: none;
}
#plenki{
    size: 100px;
}